/* Responsive styles are at the bottom of this file */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: hsl(169, 47%, 96%);
}

nav {
  height: 4rem;
  background-color: hsl(172, 91%, 43%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 2px hsl(200, 62%, 15%);
}

nav div {
  display: flex;
  align-items: center;
}

#right-nav * {
  margin-right: 40px;
}

#globe {
  margin-left: 40px;
  height: 3.2rem;
}

#logo {
  margin-left: 30px;
  font-size: 2.2rem;
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  color: hsl(222, 91%, 38%);
  text-shadow: 1px 1px 2px rgba(2, 37, 44, 60%);
  transition: 270ms;
}

#logo:hover {
  color: hsl(232, 91%, 41%);
  text-shadow: 1px 1px 2px rgba(2, 37, 44, 84%);
}

.navbar-link {
  color: hsl(222, 91%, 38%);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(2, 37, 44, 60%);
  text-align: center;
  transition: 350ms;
}

.navbar-link:hover {
  color: hsl(9, 51%, 25%);
}

section {
  margin: 40px;
  line-height: 140%;
}

h1 {
  font-size: 1.75rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#world-map {
  width: 100%;
}

table {
  width: 100%;
  margin-block: 20px;
  padding: 0;
  background-color: hsl(199, 100%, 40%);
  border: solid hsl(199, 100%, 40%) 3px;
  border-radius: 7px;
  box-shadow: 0 0 4px 1.5px hsl(207, 70%, 12%);
}

#first-table {
  margin-top: 30px;
}

th {
  width: 20%;
  margin: 0;
  padding: 0;
  background-color: hsl(172, 91%, 43%);
  border: solid black 1px;
  text-align: start;
  font-weight: 500;
}

td {
  border: solid black 1px;
  background-color: hsl(170, 93%, 80%);
}

.vowels {
  width: 350px;
}

.vowels td {
  width: 25%;
  font-weight: 700;
}

.vowels tr:first-of-type td, .vowels :nth-child(1) {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}


.consonants {
  width: 100%;
}

.consonants tr:first-of-type td, .consonants :nth-child(1) {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.consonants td {
  width: 10%;
  font-weight: 700;
}

.alphabet {
  width: 100%;
}

.alphabet td {
  width: calc(100%/15);
  font-weight: 700;
}

.alphabet tr:first-of-type td{
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.parts-of-speech {
  width: auto;
}

.parts-of-speech td {
  font-weight: 700;
}

.parts-of-speech tr:first-of-type td, .parts-of-speech :nth-child(1) {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.conjugation td {
  width: 12.5%;
}

.conjugation td {
  font-weight: 700;
}

.conjugation tr:first-of-type td, .conjugation :nth-child(1) {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.correlatives {
  width: 100%;
}

.correlatives td {
  font-weight: 700;
}

.correlatives tr:first-of-type td, .correlatives :nth-child(1) {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.correlatives :nth-child(1) {
  width: 12%;
}

.correlatives tr:last-of-type td, .correlatives :last-child {
  font-weight: 400;
}

.correlatives tr:last-of-type td:first-of-type {
  font-weight: 500;
}

.pronouns td {
  font-weight: 700;
}

.pronouns tr:first-of-type td {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.dark-cell {
  background-color: hsl(172, 91%, 43%);;
  font-weight: 500;
}

.pronouns .slim-font-cell {
  font-weight: 400;
}

.swadesh td {
  font-weight: 700;
}

.swadesh tr:first-of-type td, .swadesh :nth-child(1) {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.swadesh :nth-child(2), .swadesh :nth-child(3) {
  width: 27%;
}

.swadesh :nth-child(4), .swadesh :nth-child(5), .swadesh :nth-child(6) {
  font-weight: 400;
  width: 14%;
}

.uld td {
  height: 26.5px;
  font-weight: 700;
}

.uld tr:first-of-type td, .uld :nth-child(1) {
  background-color: hsl(172, 91%, 43%);
  font-weight: 500;
}

.uld :nth-child(2) {
  width: 32%;
}
.uld :nth-child(3) {
  width: 22%;
}

.uld :nth-child(4), .uld :nth-child(5), .uld :nth-child(6) {
  font-weight: 400;
  width: 14%;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.75rem;
  }

  #right-nav * {
    margin-right: 20px;
  }

  #globe {
    margin: 0 0 0 20px;
    height: 3rem;
  }

  #logo  {
    font-size: 2em;
    margin-left: 15px;
  }

  .navbar-link {
    font-size: 1.4em;
  }

  section {
    margin: 20px;
    line-height: 140%;
  }

  table {
    margin-bottom: 10px;
  }

  .vowels {
    width: 320px;
  }

  .uld :nth-child(2) {
    width: 30%;
  }

  .uld :nth-child(3) {
    width: 24%;
  }
}

@media only screen and (max-width: 540px) {
  body {
    font-size: 0.625rem;
  }

  #right-nav * {
    margin-right: 12px;
  }

  #globe {
    margin: 0 0 0 12px;
    height: 2.7em;
  }

  #logo  {
    font-size: 1.8em;
    margin-left: 9px;
  }

  .navbar-link {
    font-size: 1.3em;
  }

  section {
    margin: 12px;
    line-height: 140%;
  }

  table {
    margin-bottom: 6px;
  }

    .vowels {
    width: 300px;
  }

  .correlatives td {
    word-wrap: break-word;
    max-width: 25px;
  }

  .pronouns td {
    word-wrap: break-word;
    max-width: 50px;
  }

  .uld td {
    word-wrap: break-word;
    max-width: 55px;
  }
  
  .uld :nth-child(2) {
    width: 27%;
  }
}
